.footer{
    
    margin-top: 20px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-weight: bolder;
    text-align: center;
    
}

.links{
    display: flex;
    justify-content: center;
    

}
.insta, .face, .yout{
    size: 2.5rem;
    margin-left: 10px;
}
